<div id="myModal" class="modal">
  <!-- Modal content -->
  <div class="modal-content">
    <div class="modal-header">
      <span class="close">&times;</span>
    </div>
    <div class="modal-body vertical-nav">
      <ul>
        <a href="/editProfile"><li>View profile</li></a>
        <a href="/editProfile"><li>Edit profile</li></a>
        <a href="/connections"><li>Connections</li></a>
        <a href="/logout"><li>Logout</li></a>
      </ul>
    </div>
  </div>
</div>
