<div id="myModal" class="modal">
  <!-- Modal content -->
  <div class="modal-content">
    <div class="modal-header">
      <span class="close">&times;</span>
    </div>
    <div class="modal-body modal-nav">
      <ul>
        <a href="/users"><li>Find Users</li></a>
        <a href="/connections"
          ><li><%= user.connections.length %> Connections</li></a
        >
        <a href="/editProfile"><li>Edit profile</li></a>
        <a href="/logout"><li>Logout</li></a>
      </ul>
    </div>
  </div>
</div>
