<div class="form-group form-text">
  <label for="title" class="form-label">Title</label>
  <input
    required
    type="text"
    name="name"
    id="name"
    class="form-control"
    placeholder="Give your project a title"
  />
</div>
<div class="form-group form-text">
  <label for="description" class="form-label">Description</label>
  <textarea
    placeholder="Give your project a description"
    name="description"
    id="description"
    class="form-control"
  >
  </textarea>
</div>
<div class="form-group form-text">
  <label for="type" class="form-label">Type of Project</label>
  <select class="form-control" required name="type" id="type">
    <option selected>Film</option>
    <option>Music</option>
    <option>Art</option>
    <option>Other</option>
  </select>
</div>
