<div class="col-12 col-md-4 order-1 order-md-2 d-none d-md-block">
  <nav class="vertical-nav" id="sidebar">
    <ul>
      <a href="/connections"
        ><li><%= user.connections.length %> Connections</li></a
      >
      <a href="/editProfile"><li>Edit profile</li></a>
      <a href="/logout"><li>Logout</li></a>
    </ul>
  </nav>
</div>
